@import url('https://fonts.googleapis.com/css2?family=Nunito');

$font: 'Nunito', 'sans-serif';
$primary-color: #172b4d;
$secondary-color: #5e72e4;
$primary-bg: #f4f5f7;
$blue-color: #11cdef;
$green-color: #2dce89;
$red-color: #f5365c;
$orange-color: #fb6340;
$gray-100: #f6f9fc;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8898aa;
$gray-700: #525f7f;
$gray-800: #32325d;
$gray-900: #212529;